* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    margin: 30px;
    color: rgb(32, 31, 31);
    font-size: 1rem;
}

.group {
    font-size: larger;
    position: relative;
    top: -45px;
    left: 1250px;
}

.filter {
    font-size: larger;
    position: relative;
    top: -45px;
    left: 1280px;
}