* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 30px;
  color: rgb(32, 31, 31);
  font-size: 1rem;
}

.group {
  font-size: larger;
  position: relative;
  top: -30px;
  left: 1220px;
}

.filter {
  font-size: larger;
  position: relative;
  top: -30px;
  left: 1250px;
}

.create-note {
  width: 480px;
  background-color: blanchedalmond;
  height: auto;
  position: relative;
  top: 0px;
  left: 500px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.create-note input,
.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    resize: none;
    background-color: inherit;
}

.create-note button {
    position: absolute;
    width: 36px;
    height: 36px;
    bottom: -18px;
    right: 10px;
}

.note {
  background-color: rgb(250, 223, 72);
  width: 200px;
  height: 200px;
  overflow: auto;
  margin: 35px;
  padding: 10px;
  float: left;
  box-shadow: 0 2px 5px #ccc;
}

.note h2 {
  background-color: grey;
  padding: 5px 15px 5px 15px;
  font-size: 1em;
  color: whitesmoke;
  border-radius: 7px;
  float: left;
  margin: 5px;
  margin-right: 10px;
  font-weight: 100;
  display: inline-block;
}

.note p{
  display: inline-block;
  min-width: 110px;
  font-size: small;
  margin: 5px;
  color: rgb(49, 47, 47);
  font-weight: 600;
}

.note h3 {
  font-size: medium;
  margin: 5px;
  margin-top: 20px;
  color: rgb(49, 47, 47);
  font-weight: 600;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  border: none;
  width: 36px;
  height: 36px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.editable {
  border: none;
  outline: none;
  background-color: inherit;
}
